/* Properties to apply to everything in the application */
.mainPane {
	-fx-background-color: #adadeb;
	-fx-font-size: 30; 
}


/* Labels that are not modified by another CSS class */
Label {
	-fx-text-fill: #000066;
}


/* Description of the application */
.appDescription {
	-fx-text-fill: #000044;
	-fx-font-size: 25; 
}


/* Access buttons */
.accessButtons {
	-fx-padding: -50 0 50 0 ;
}

.homeButtons {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border-color: blue;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

.homeButtons:hover {
	-fx-border-color: red;
}


/* Main menu general properties */
.mainMenu {
	-fx-background-color:linear-gradient(#5b5bd7, #adadeb);
}


/* Application buttons' properties - NOT YET USED */
.appButton {
	-fx-text-fill: white;
	-fx-padding: 10;
	-fx-background-color: #2d79b1;
	-fx-border-radius: 5;
	-fx-font-size: 15; 
}

.appButton:hover {
	-fx-background-color: #7070db;
}

.appButton:pressed {
	-fx-background-color: #1f1f7a;
}
    
     
/* Menu buttons' properties */
.menuButton {
	-fx-text-fill: white;
	-fx-padding: 10;
	-fx-background-color: #3333cc;
	-fx-font-size: 15; 
}

.menuButton:hover {
	-fx-background-color: #7070db;	
}

.menuButton:pressed {
	-fx-background-color: #1f1f7a;	
}

.menuButton:disabled {
	-fx-background-color: #3333ff;	
}


/* Pane title properties */
.paneTitle {
	/*-fx-background-color: #3366ff;*/	
	-fx-font-size: 30; 
	
}
.titlePane {
	-fx-padding: 20 0 0 20 ;
}

.historyTitlePane {
	-fx-padding: 20 0 20 0 ;
}

/* History title properties */
.historyTitle {
	-fx-font-size: 30;
}

/* Language pane */
.languagePane {
	-fx-background-image: url('images/worldmap.jpg');	
	-fx-background-repeat: no-repeat;
	-fx-width: 804;
	-fx-height: 425;
}

/* Map buttons */
.mapButton {
	-fx-text-fill: #161046;/*#3333cc;*/
	-fx-padding: 10;
	-fx-background-color: transparent;
	-fx-font-size: 15; 
	-fx-font-weight: bold; 
}

.mapButton:hover {
	-fx-text-fill: #1f1f7a;
}

.mapButton:pressed {
	-fx-text-fill: blue;
}

/* Answer buttons */
.answerButton {
	-fx-text-fill: white;
	-fx-padding: 10;
	-fx-background-color: #3333cc;
	-fx-font-size: 15;
}

.answerButton:hover {
	-fx-background-color: #7070db;	
}

.answerButton:pressed {
	-fx-background-color: #1f1f7a;	
}

.rightAnswer {
	-fx-background-color: #4e9a06;	
}

.wrongAnswer {
	-fx-background-color: #a40000;	
}

/* Arrows (previous and next) */
.arrowButton {
	-fx-text-fill: #3333cc;
	-fx-padding: 0 10 0 10;
	-fx-background-color: transparent;
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
}

.arrowButton:hover {
	-fx-text-fill: #1f1f7a;
}

.arrowButton:pressed {
	-fx-text-fill: blue;
}

.nextprevButton {
	-fx-text-fill: #3333cc;
	-fx-padding: 0 10 0 10;
	-fx-background-color: transparent;
	-fx-font-size: 25; 
	-fx-font-weight: bold; 
}

.nextprevButton:hover {
	-fx-text-fill: #1f1f7a;
}

.nextprevButton:pressed {
	-fx-text-fill: blue;
}

.hmenuButton {
	-fx-text-fill: #3333cc;
	-fx-padding: 10;
	-fx-background-color: transparent;
	-fx-font-size: 20; 
	-fx-font-weight: bold; 
}

.hmenuButton:hover {
	-fx-text-fill: #1f1f7a;
}

.hmenuButton:pressed {
	-fx-text-fill: blue;
}

.startButton {
	-fx-text-fill: #3333cc;
	-fx-padding: 10;
	-fx-background-color: transparent;
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
}

.startButton:hover {
	-fx-text-fill: #1f1f7a;
}

.startButton:pressed {
	-fx-text-fill: blue;
}

.example {
	-fx-font-size: 20; 
}

.historyText {
    -fx-font-size: 18
}
